
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/
.DS_Store
.env
docker/database/data
docker/logs/
###< symfony/framework-bundle ###
